@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;900&family=Noto+Serif:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-size1: 3.25rem;
  --font-size2: 1.5rem;
  --font-size3: 1rem;
  --font-size4: 0.8rem;
  
  --font-size1: 0.8rem;
  --font-size2: 1rem;
  --font-size3: 1.5rem;
  --font-size4: 1.7rem;
  --font-size5: 3.25rem;

  --blue1: #6192A8;
  --blue2: #DDE8ED;
  --black1: #000000;
  --black2: #797979;
  --white1: #FFFFFF;
  --white2: #F5F5F5;

  --font-weight1: 100;
  --font-weight2: 200;
  --font-weight3: 400;
  --font-weight4: 700;
  --font-weight5: 900;

  --box-shadow1: 0 4px 7px 1px rgba(0, 0, 0, 0.1);

  --border-radius1: 7px;
  --border-radius2: 10px;
  --border-radius3: 13px;
}

body {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  color: var(--black1);
  background-color: var(--blue2);
  line-height: 1.5;
  font-size: var(--font-size2);
}

a {
  color: var(--black1);
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
